<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AnkleWankle</title>
    </head>
    <body>
        <div id="app">
            <graphics-component v-if="device == 'display'" v-on:pixi-app="pixiApp"></graphics-component>
            <device-decision-component v-if="device == null" v-on:device-decision="deviceDecision"></device-decision-component>
            <control-device-component v-if="device == 'control'" v-on:device-decision></control-device-component>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/js/client.js"></script>
    </body>
</html>