<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AnkleWankle</title>
    </head>
    <body>
        <div id="app">
            <device-decision-component v-if="deviceType === undefined" v-on:device-type-set="onDeviceTypeSet"></device-decision-component>
            <graphics-component v-if="deviceType === 'display'" v-on:pixi-app="pixiApp"></graphics-component>
            <control-device-component v-if="deviceType === 'control'"></control-device-component>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/static/js/client.js"></script>
    </body>
</html>
